.header-container {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  background-color: tomato;
  height: 50px;
}

.header-container h1 {
  color: wheat;
  text-align: center;
  padding-top: 5px;
}

.content-quote {
  width: 59%;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #5da3fa;
  color: aliceblue;
  border-left: 7px solid salmon;
}

.content-quote blockquote {
  text-align: center;
  font-size: 21px;
  padding-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.news-information {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  grid-column-gap: 2%;
  grid-row-gap: 10px;
  margin-top: 10px;
}

.news-container {
  margin: 25px;
  min-height: 350px;
  border: 2px dashed gray;
}

.article-image {
  background-image: url("../public/images/bird.jpeg");
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
}

.article-image img {
  object-fit: cover;
  width: auto;
}
.news-container p {
  padding: 10px;
  font-size: 16px;
  font-style: italic;
}

.news-container h5 {
  text-align: center;
  font-size: 21px;
  color: blueviolet;
}

/* Media Query for Tablet view */
@media (max-width: 800px) {
  .news-information {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 2%;
    grid-row-gap: 10px;
    margin-top: 10px;
  }
}

/* Media Query for Mobile view */

@media (max-width: 450px) {
  .news-information {
    display: grid;
    grid-template-columns: 100%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .header-container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-size: x-small;
    text-align: center;
  }

  .header-container h1 {
    padding-top: 15px;
  }

  .content-quote {
    width: 82%;
  }

  .content-quote blockquote {
    font-size: 11px;
  }
}

@media (max-width: 320px) {
  .news-information {
    display: grid;
    grid-template-columns: 100%;
    grid-column-gap: 2%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  .header-container {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    font-size: x-small;
    text-align: center;
  }

  .header-container h1 {
    padding-top: 15px;
  }

  .content-quote {
    width: 82%;
  }

  .content-quote blockquote {
    font-size: 11px;
  }
}
